{% extends 'base/base.html' %}

{% block tittle %}
Inicio ETL CCE
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenido</h1>
        <p class="lead">Esta es una aplicación para mostrar el funcionamiento general de una ETL usando una base relacional como contenedor inicial y una base no relacional para ánalizar la información.</p>
        <hr class="my-4">
        <p>Para obtener información adicional descargue el instructivo.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/static/instructivo/instructivo.pdf" target="_blank" role="button">Descargar Instructivo</a>
        </p>
        <hr class="my-4">
        <p>Para ver y descargar el código fuente de este proyecto.</p>
        <p class="lead">
            <a class="btn btn-info btn-lg" href="https://github.com/profefonso/ETL-CCE" target="_blank" role="button">GitHub</a>
        </p>
    </div>
</div>
{% endblock %}
